<!DOCTYPE html>
<html>

<head>

    <title>About Project</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body>

<div class="container mt-5">

    <div class="card shadow p-4">

        <h2>
            About Project
        </h2>

        <p>

            AI Enhanced Career Guidance System is a Machine Learning
            based application that helps students identify suitable
            career paths based on:

        </p>

        <ul>

            <li>Education Level</li>

            <li>Specialization</li>

            <li>Skills</li>

            <li>Certifications</li>

            <li>CGPA</li>

            <li>Resume Content</li>

        </ul>

        <p>

            The system predicts a suitable career and provides:

        </p>

        <ul>

            <li>Career Recommendation</li>

            <li>Match Score</li>

            <li>Skill Gap Analysis</li>

            <li>Career Roadmap</li>

        </ul>

        <a href="/"
           class="btn btn-primary">

            Back

        </a>

    </div>

</div>

</body>
</html>